* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}
body {
  height: 100vh; /* pra não precisar usar no-repeat */
  color: white;
  background-color: #ebf2f5;
}

body,
input,
button,
textarea {
  font-weight: 400;
  font-size: 1.8rem; /* pega o tamanho do root element - nesse caso é o HTML com 16px */
  line-height: 1;
  font-family: "Nunito", sans-serif;
  /* font: 400 18px/1 'Nunito', sans-serif; */
}
