<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Happy</title>
  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/style/main.css" />
  <link rel="stylesheet" href="/style/page-landing.css" />
  <link rel="stylesheet" href="/style/animations.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,800&display=swap" rel="stylesheet">
</head>

<body>

  <div id="page-landing">
    <div id="container">
      <header>
        <img id="logo" class="animate-up" src="/images/logo.svg" alt="Logomarca da Happy" />
        <div class="location animate-up">
          <strong>Santa Maria</strong>
          <p>Rio Grande do Sul</p>
        </div>
      </header>
      <main>
        <h1 class="animate-up">Leve felicidade para o mundo</h1>
        <section class="visit">
          <p class="animate-up">Visite lares de acolhimento e mude o dia de muitas crianças</p>
          <a href="/orphanages" class="animate-up">
            <img src="/images/arrow.svg" alt="Ir para o mapa de orfanatos" title="Ir para mapa de orfanatos">
          </a>
        </section>
      </main>
    </div>
  </div>

</body>

</html>